.display-great{
    /*inherit es muestrate cuando te corresponda*/
    display: inherit !important;
}
h1, h2{
    text-align: center;
}
header, footer, #wraper{
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 100%;
    max-width: 150px;
}

#main-nav{
    float: left;
    width: 20%;
}